.icons {
    width: 100%;
    height: 120px;
    margin-bottom: 24px;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.center {
    text-align: center;
}

.auto {
    margin: 0 auto 16px;
    display: block;
    text-align: center;
}