.title {
    text-align: center;
    color: #2cb500;
    font-size: 2.4rem;
    border: 2px solid;
    margin: 8px auto;
    padding: 8px;
    border-radius: 8px;
    display: block;
    width: fit-content;
}

.padd {
    padding: 16px 0;
}